/**
 * Load fonts from google
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300,400,500,700&display=swap');
@import '../node_modules/bourbon/core/bourbon';
@import '../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';
@import '../node_modules/css-reset-and-normalize/scss/button-reset.scss';
@import '../node_modules/css-reset-and-normalize/scss/link-reset.scss';
@import '../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/scss/main';
@import '../node_modules/plumber-sass/plumber';
$header-height: 15rem;
// sizes
$border-height: 0.5rem;

$gutter: 2rem; // Set gutter size

$content-well-max-width: "none"; // Set the max-width of the content well
// colors 
$brand-main: rgba(0, 0, 0, 1);
$brand-lightblue: rgba(198, 210, 215, 1);
$brand-blue: rgba(152, 165, 169, 1);
$brand-duotone: rgba(142, 172, 177, 1);
$brand-white: rgba(254, 254, 254, 1);
$status-new: $brand-blue;
$color-subtle: $brand-blue;
$block-margin-bottom: 3 * $gutter;

@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child") {
  $selector: unquote($selector);
  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
  position: relative;

  #{$selector} {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.flex-start {
  justify-content: flex-start !important;
}

.page-break {
  display: block;
  page-break-before: always;
}

@mixin size-l {
  @include plumber($font-size: 8,
    $line-height: 8,
    $leading-top: 2,
    $leading-bottom: 4,
    $baseline:0.084473);
}

@mixin size-m {
  @include plumber($font-size: 4,
    $line-height: 6,
    $leading-top:1,
    $leading-bottom: 1,
    $baseline:0.084473);
}

@mixin accident() {
  font-family: 'Playfair Display', $font-stack-georgia;
}

@mixin size-s {
  @include plumber($font-size: 2,
    $line-height: 3,
    $leading-top: 2,
    $leading-bottom: 4,
    $baseline:0.158203);
  // roboto
}

@mixin size-xs {
  @include plumber($font-size:1.75,
    $line-height:3,
    $leading-top: 3,
    $leading-bottom: 2,
    $baseline:0.084473);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@mixin text-bold {
  font-weight: 400;
  text-shadow: 0px 0px 1px rgba($brand-main, .3);
}

:root {
  font-size: 6px;
}

html {
  font-family: 'Roboto',
    sans-serif;
  font-weight: 300;
}

page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

@media print {

  body,
  page[size="A4"] {
    box-shadow: 0;
    margin: 2mm;
  }

}

@media screen {

  body {
    width: 21cm;
    height: 29.7cm;
  }
}


.header {
  @include col(12);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin-bottom: 2rem;

  .logo {
    svg {
      width: 230px;
      max-height: 100%;

    }

  }

  .phone {
    @include size-s;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

}

@page {
  @top-center {
    content: element(header)
  }
}

@page {
  @bottom-center {
    content: element(footer)
  }
}

footer {
  width: calc(100% - #{2rem});

  color: rgba(black, 0.6);
  margin: auto;
  position: fixed;
  bottom: 0;

  .row {
    @include row();
    // width: calc(100% - #{2rem});

    .col-3,
    .col-6 {
      @include size-s;
      font-size: 1.5rem;
      line-height: 2rem;
      padding-bottom: 0;
    }

    .col-6 {
      @include col(6);

    }

    .col-3 {
      @include col(3);

    }
  }
}

.bold {
  @include text-bold();
}

.featured-image {
  @include col(12);

  @include fluid-aspect(16 9);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  @include col(12);

  h1 {
    @include size-l;
    @include accident;
    margin-bottom: 1rem;
  }
}

.yacht-specs {
  @include row();
  margin-bottom: 4rem;


  &__header__wrapper,
  &__content {
    @include col(6);
  }

  &__content {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__text {
    @include size-s;
    margin-top: .5rem;

    p {
      margin-top: 2rem;
    }
  }

  &__status {
    @include size-m;
    @include accident;
  }

  &__header {
    @include size-m;
    @include accident;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__subheader {
    @include size-s;
    @include accident;
    width: 100%;
    margin-top: 0;

  }

  &__header__wrapper {
    @include row();
    flex-direction: column;
    justify-content: space-between;
  }

  span {
    @include size-s;
    margin-bottom: 0;
    // padding-bottom: 0;
    display: flex;
  }
}

@mixin specs-line() {
  padding-top: 0;
  padding-bottom: 0;

  &::not(:last-child) {
    // padding-bottom: $gutter;
  }


  &__item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid $brand-lightblue;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__wrapper {
    @include row();
    height: 100%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    margin-bottom: 1px;
  }

  &__items {

    &__wrapper {
      @include col(6);
    }


  }

  .yacht-line__label,
  .yacht-line__value {}

  &__label {
    @include size-xs;
    @include text-bold;
    margin-bottom: 0;
  }

  &__value {
    @include size-xs;
    text-align: right;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}


.yacht-line {
  @include col(12);
  @include specs-line();
  padding-bottom: 0;
  padding: 0;

  &__label,
  &__value {
    margin-top: 0.75rem;
  }

  &__wrapper {}
}


.gallery {

  &-exterior,
  &-interior {
    @include row();
  }

  &-header {
    @include col(12);

    h2 {
      @include size-m;
      @include accident;
    }
  }

  &-wrapper {
    @include row();
  }

  &-image {
    @include col(6);
    @include fluid-aspect(16 4);

    &__wrapper {
      @include col();
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

.avoid-break {
  page-break-inside: avoid;
  // page-break-after: always;
}
